 <nav class="navbar navbar-dark bg-primary ">
  <a routerLink='' routerLinkActive="active" class="navbar-brand">eshop</a>
  <a routerLink='cart' routerLinkActive="active"><button class="btn btn-success" type="submit">4</button></a>

</nav>

<div class="container mydiv">
    <div class="row">

      <div class="col-md-12">
      <h2><b>Trending Products</b></h2>
    </div>
        <div class="col-md-4">
            <div class="bbb_deals">
                <div class="bbb_deals_slider_container">
                    <div class=" bbb_deals_item">
                        <div class="bbb_deals_image"><img src="/assets/images/products/laptop.png" alt=""></div>
                        <div class="bbb_deals_content">
                            <div class="thumb-content">
                            <h4>Apple Laptop</h4>
                            <p class="item-price"><span>369.00</span></p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                          </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bbb_deals">
                <div class="bbb_deals_slider_container">
                    <div class=" bbb_deals_item">
                        <div class="bbb_deals_image"><img src="/assets/images/products/laptop.png" alt=""></div>
                        <div class="bbb_deals_content">
                            <div class="thumb-content">
                            <h4>Apple Laptop</h4>
                            <p class="item-price"><span>369.00</span></p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                          </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bbb_deals">
                <div class="bbb_deals_slider_container">
                    <div class=" bbb_deals_item">
                        <div class="bbb_deals_image"><img src="/assets/images/products/laptop.png" alt=""></div>
                        <div class="bbb_deals_content">
                            <div class="thumb-content">
                            <h4>Apple Laptop</h4>
                            <p class="item-price"><span>369.00</span></p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                          </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-dark bg-primary justify-content-between">
<p> @2021 . All rights reserved.</p>
</nav>