<!-- <p>login works!</p> -->
<div fxLayoutAlign="center center" fxFlexFill>
	<mat-card fxFlex="25">
		<form fxLayoutAlign="stretch" fxLayout="column">
			<mat-toolbar color="primary">Login Page</mat-toolbar>
		  <mat-form-field>
		    <mat-label>Username</mat-label>
		    <input matInput placeholder="Username">
		  </mat-form-field>

		  <mat-form-field>
		    <mat-label>Password</mat-label>
		    <input matInput type = 'password' placeholder="Password">
		  </mat-form-field>
		  <button mat-raised-button color="primary">Login</button>
		  <br/>
		  <a mat-stroked-button color routerLink='/register' routerLinkActive="active">New User? Register</a>
		</form>

	</mat-card>
</div>
